<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ 'Password reset' | trans }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% include 'Backend/base-assets.html.twig' %}
</head>
<body class="hold-transition skin-blue login-page">
    <div class="login-box"><div class="login-box-body">
        {% include 'Backend/block/flash.html.twig' %}
        {%  if error is defined %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}
        {%  if form is defined %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div></div>
</body>
</html>